openapi: 3.1.0
info:
  title: Interswitch Recharge Airtime Payment Links API
  description: 'Virtual top-up (direct airtime and data) and e-pin voucher delivery for

    MTN, Airtel, Glo, and 9mobile. Same biller / category / payment-item flow

    as Bills Payment; category ID `4` is reserved for airtime billers and the

    customer''s phone number is supplied as `customer_id` on the payment advice.

    '
  version: '2024-01-01'
servers:
- url: https://sandbox.interswitchng.com
  description: Sandbox
- url: https://saturn.interswitchng.com
  description: Production
security:
- InterswitchAuth: []
tags:
- name: Payment Links
  description: Hosted payment link generation
paths:
  /paymentgateway/api/v1/payment-links:
    post:
      tags:
      - Payment Links
      summary: Create Payment Link
      description: Create a hosted Pay Bill payment link the merchant can email, SMS, or share.
      operationId: createPaymentLink
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              - currency
              - description
              properties:
                amount:
                  type: integer
                currency:
                  type: string
                description:
                  type: string
                customerEmail:
                  type: string
                  format: email
                expiresAt:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentLinkId:
                    type: string
                  url:
                    type: string
                    format: uri
                  status:
                    type: string
components:
  securitySchemes:
    InterswitchAuth:
      type: apiKey
      in: header
      name: Authorization
