openapi: 3.2.0
info:
  title: Interswitch Bills Payment Payment Items API
  description: 'Quickteller bills payment service — list billers, get payment items,

    validate customer references, and submit payment advices for hundreds of

    Nigerian billers including DSTV, GOTV, PHCN, water boards, school fees,

    and government TSA payments.

    '
  version: '2024-01-01'
servers:
- url: https://sandbox.interswitchng.com
  description: Sandbox
- url: https://saturn.interswitchng.com
  description: Production
security:
- InterswitchAuth: []
tags:
- name: Payment Items
paths:
  /api/v2/quickteller/billers/{billerId}/paymentitems:
    get:
      tags:
      - Payment Items
      summary: List Biller Payment Items
      description: Returns supported amounts, packages, or denominations for the biller (e.g. DSTV Compact, MTN-100 airtime).
      operationId: listBillerPaymentItems
      parameters:
      - in: path
        name: billerId
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Payment items.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentItem'
components:
  schemas:
    PaymentItem:
      type: object
      properties:
        paymentItemId:
          type: integer
        paymentCode:
          type: string
        name:
          type: string
        amount:
          type: integer
        currencyCode:
          type: string
        isAmountFixed:
          type: boolean
  securitySchemes:
    InterswitchAuth:
      type: apiKey
      in: header
      name: Authorization
      description: '`InterswitchAuth {base64(client_id)}` plus `Timestamp`, `Nonce`,

        `Signature` (SHA1 of method + endpoint + timestamp + nonce + client_id

        + secret), `SignatureMethod: SHA1`, and `TerminalID` headers; or

        `Bearer {access_token}` from the Passport OAuth token endpoint.

        '
