openapi: 3.2.0
info:
  title: Interswitch Payments API
  version: '2024-01-01'
  description: 'Operations tagged Payments across 3 of this provider''s published API definitions: interswitch-bills-payment-api-openapi.yml, interswitch-lending-api-openapi.yml, interswitch-payment-gateway-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.interswitchng.com
  description: Sandbox
- url: https://saturn.interswitchng.com
  description: Production
- url: https://qa.interswitchng.com
  description: Sandbox / QA
tags:
- name: Payments
paths:
  /api/v2/quickteller/payments/advices:
    post:
      tags:
      - Payments
      summary: Submit Bill Payment Advice
      operationId: submitBillPaymentAdvice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - paymentCode
              - customerId
              - customerEmail
              - customerMobile
              - amount
              - requestReference
              properties:
                paymentCode:
                  type: string
                customerId:
                  type: string
                customerEmail:
                  type: string
                  format: email
                customerMobile:
                  type: string
                amount:
                  type: integer
                  description: Minor currency units.
                requestReference:
                  type: string
                  description: Must be prefixed with the merchant request-reference prefix.
      responses:
        '200':
          description: Payment advice response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  responseCode:
                    type: string
                    description: 90000 indicates success.
                  transactionRef:
                    type: string
                  rawOutput:
                    type: string
      security:
      - InterswitchAuth: []
    servers:
    - url: https://sandbox.interswitchng.com
      description: Sandbox
    - url: https://saturn.interswitchng.com
      description: Production
  /lending-service/api/v2/payments/token:
    post:
      tags:
      - Payments
      summary: Generate Lending Payment Token
      operationId: generateLendingPaymentToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - cardPan
              properties:
                customerId:
                  type: string
                cardPan:
                  type: string
                expiryMonth:
                  type: string
                expiryYear:
                  type: string
                cvv:
                  type: string
      responses:
        '200':
          description: Token + OTP challenge.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pendingToken:
                    type: string
                  otpRequired:
                    type: boolean
      security:
      - BearerAuth: []
    servers:
    - url: https://sandbox.interswitchng.com
      description: Sandbox
    - url: https://saturn.interswitchng.com
      description: Production
  /lending-service/api/v2/payments/token/validate:
    post:
      tags:
      - Payments
      summary: Validate Lending Payment Token OTP
      operationId: validateLendingPaymentTokenOtp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - pendingToken
              - otp
              properties:
                pendingToken:
                  type: string
                otp:
                  type: string
      responses:
        '200':
          description: Confirmed token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentMethodId:
                    type: string
                  status:
                    type: string
      security:
      - BearerAuth: []
    servers:
    - url: https://sandbox.interswitchng.com
      description: Sandbox
    - url: https://saturn.interswitchng.com
      description: Production
  /paymentgateway/api/v1/payments:
    post:
      tags:
      - Payments
      summary: Create Card Payment
      description: Authorize and capture a card payment using a tokenized or hosted-field-collected card.
      operationId: createCardPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '200':
          description: Payment result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
      security:
      - BearerAuth: []
    servers:
    - url: https://qa.interswitchng.com
      description: Sandbox / QA
    - url: https://saturn.interswitchng.com
      description: Production
  /paymentgateway/api/v1/payments/{paymentId}:
    get:
      tags:
      - Payments
      summary: Get Payment
      operationId: getPayment
      parameters:
      - in: path
        name: paymentId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Payment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
      security:
      - BearerAuth: []
    servers:
    - url: https://qa.interswitchng.com
      description: Sandbox / QA
    - url: https://saturn.interswitchng.com
      description: Production
components:
  schemas:
    PaymentResponse:
      type: object
      properties:
        paymentId:
          type: string
        status:
          type: string
        responseCode:
          type: string
        responseMessage:
          type: string
        amount:
          type: integer
        currency:
          type: string
        authCode:
          type: string
        retrievalReferenceNumber:
          type: string
    PaymentRequest:
      type: object
      required:
      - transactionRef
      - amount
      - currency
      - paymentMethod
      properties:
        transactionRef:
          type: string
        amount:
          type: integer
          description: Minor currency units.
        currency:
          type: string
        customerId:
          type: string
        customerEmail:
          type: string
          format: email
        paymentMethod:
          type: object
          properties:
            type:
              type: string
              enum:
              - card
              - token
              - googlePay
            card:
              type: object
              properties:
                pan:
                  type: string
                expiryMonth:
                  type: string
                expiryYear:
                  type: string
                cvv:
                  type: string
            token:
              type: string
  securitySchemes:
    InterswitchAuth:
      type: apiKey
      in: header
      name: Authorization
      description: '`InterswitchAuth {base64(client_id)}` plus `Timestamp`, `Nonce`,

        `Signature` (SHA1 of method + endpoint + timestamp + nonce + client_id

        + secret), `SignatureMethod: SHA1`, and `TerminalID` headers; or

        `Bearer {access_token}` from the Passport OAuth token endpoint.

        '
    BearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- interswitch-bills-payment-api-openapi.yml
- interswitch-lending-api-openapi.yml
- interswitch-payment-gateway-api-openapi.yml
