openapi: 3.1.0
info:
  title: Interswitch Recharge Airtime Recurring Charges API
  description: 'Virtual top-up (direct airtime and data) and e-pin voucher delivery for

    MTN, Airtel, Glo, and 9mobile. Same biller / category / payment-item flow

    as Bills Payment; category ID `4` is reserved for airtime billers and the

    customer''s phone number is supplied as `customer_id` on the payment advice.

    '
  version: '2024-01-01'
servers:
- url: https://sandbox.interswitchng.com
  description: Sandbox
- url: https://saturn.interswitchng.com
  description: Production
security:
- InterswitchAuth: []
tags:
- name: Recurring Charges
paths:
  /api/v2/purchases/recurrents:
    post:
      tags:
      - Recurring Charges
      summary: Charge Recurring Token
      operationId: chargeRecurringToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - amount
              - currency
              - token
              - tokenExpiryDate
              - transferRef
              properties:
                customerId:
                  type: string
                amount:
                  type: integer
                currency:
                  type: string
                  enum:
                  - NGN
                token:
                  type: string
                tokenExpiryDate:
                  type: string
                  format: date
                transferRef:
                  type: string
      responses:
        '200':
          description: Charge result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentId:
                    type: string
                  status:
                    type: string
                  responseCode:
                    type: string
                  responseMessage:
                    type: string
                  amount:
                    type: integer
                  authCode:
                    type: string
components:
  securitySchemes:
    InterswitchAuth:
      type: apiKey
      in: header
      name: Authorization
