openapi: 3.2.0
info:
  title: Interswitch Customer Insights Financial Habits API
  description: 'Permissioned access to demography, financial history, average financial

    history, and financial-habit signals derived from Interswitch''s transaction

    switch and Verve card network. Feeds credit decisioning, KYC enrichment,

    and segmentation.

    '
  version: '2024-01-01'
servers:
- url: https://sandbox.interswitchng.com
  description: Sandbox
- url: https://saturn.interswitchng.com
  description: Production
security:
- BearerAuth: []
tags:
- name: Financial Habits
paths:
  /insights/api/v1/customers/{customerId}/financial-habits:
    get:
      tags:
      - Financial Habits
      summary: Get Financial Habits
      operationId: getFinancialHabits
      parameters:
      - in: path
        name: customerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Behavioral signals.
          content:
            application/json:
              schema:
                type: object
                properties:
                  spendingPersona:
                    type: string
                  recurringBills:
                    type: array
                    items:
                      type: string
                  channelPreference:
                    type: string
                    enum:
                    - POS
                    - WEB
                    - MOBILE
                    - ATM
                    - USSD
                  weekendVsWeekdayRatio:
                    type: number
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
