openapi: 3.2.0
info:
  title: Interswitch Lending Customers API
  description: 'Marketplace lending APIs connecting loan providers and distribution

    channels — list providers, fetch offers, accept offers, fund loans, debit

    for repayment, and inspect customer loan status. Supports PCI-DSS-licensed

    and hosted-fields integrations and powers Nano Loans, Salary Lending, and

    Value Financing.

    '
  version: '2024-01-01'
servers:
- url: https://sandbox.interswitchng.com
  description: Sandbox
- url: https://saturn.interswitchng.com
  description: Production
security:
- BearerAuth: []
tags:
- name: Customers
paths:
  /lending-service/api/v1/users/{customerId}/status:
    get:
      tags:
      - Customers
      summary: Get Customer Loan Status
      operationId: getCustomerLoanStatus
      parameters:
      - in: path
        name: customerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Active loan summary.
          content:
            application/json:
              schema:
                type: object
                properties:
                  hasActiveLoan:
                    type: boolean
                  activeLoans:
                    type: array
                    items:
                      $ref: '#/components/schemas/Loan'
  /lending-service/api/v1/users/{customerId}/payment-methods:
    get:
      tags:
      - Customers
      summary: List Customer Payment Methods
      operationId: listCustomerPaymentMethods
      parameters:
      - in: path
        name: customerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Payment methods.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    paymentMethodId:
                      type: string
                    type:
                      type: string
                      enum:
                      - card
                      - account
                    last4:
                      type: string
components:
  schemas:
    Loan:
      type: object
      properties:
        loanId:
          type: string
        customerId:
          type: string
        providerId:
          type: string
        principal:
          type: integer
        outstandingBalance:
          type: integer
        currency:
          type: string
        interestRate:
          type: number
          format: float
        tenorDays:
          type: integer
        status:
          type: string
          enum:
          - PENDING
          - ACTIVE
          - CLOSED
          - DEFAULTED
          - WRITTEN_OFF
        disbursedAt:
          type: string
          format: date-time
        dueAt:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
