openapi: 3.1.0
info:
  title: Interswitch Recharge Airtime Customer Validation API
  description: 'Virtual top-up (direct airtime and data) and e-pin voucher delivery for

    MTN, Airtel, Glo, and 9mobile. Same biller / category / payment-item flow

    as Bills Payment; category ID `4` is reserved for airtime billers and the

    customer''s phone number is supplied as `customer_id` on the payment advice.

    '
  version: '2024-01-01'
servers:
- url: https://sandbox.interswitchng.com
  description: Sandbox
- url: https://saturn.interswitchng.com
  description: Production
security:
- InterswitchAuth: []
tags:
- name: Customer Validation
paths:
  /api/v2/quickteller/customers/validations:
    post:
      tags:
      - Customer Validation
      summary: Validate Customer
      description: Verify a customer ID (smartcard number, meter number, account number, phone) with the biller before charging.
      operationId: validateCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - paymentCode
              - customerId
              properties:
                paymentCode:
                  type: string
                customerId:
                  type: string
                amount:
                  type: integer
      responses:
        '200':
          description: Customer record at the biller.
          content:
            application/json:
              schema:
                type: object
                properties:
                  fullName:
                    type: string
                  customerId:
                    type: string
                  responseCode:
                    type: string
components:
  securitySchemes:
    InterswitchAuth:
      type: apiKey
      in: header
      name: Authorization
