openapi: 3.2.0
info:
  title: Interswitch Lending Loans API
  description: 'Marketplace lending APIs connecting loan providers and distribution

    channels — list providers, fetch offers, accept offers, fund loans, debit

    for repayment, and inspect customer loan status. Supports PCI-DSS-licensed

    and hosted-fields integrations and powers Nano Loans, Salary Lending, and

    Value Financing.

    '
  version: '2024-01-01'
servers:
- url: https://sandbox.interswitchng.com
  description: Sandbox
- url: https://saturn.interswitchng.com
  description: Production
security:
- BearerAuth: []
tags:
- name: Loans
paths:
  /lending-service/api/v1/loans/{loanId}/fund:
    post:
      tags:
      - Loans
      summary: Fund Loan
      description: Disburse accepted loan funds to the borrower.
      operationId: fundLoan
      parameters:
      - in: path
        name: loanId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Funded.
  /lending-service/api/v1/loans/{loanId}/debit:
    post:
      tags:
      - Loans
      summary: Debit Loan Repayment
      operationId: debitLoanRepayment
      parameters:
      - in: path
        name: loanId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              properties:
                amount:
                  type: integer
                paymentMethodId:
                  type: string
      responses:
        '200':
          description: Debited.
  /lending-service/api/v1/loans/{loanId}/update:
    put:
      tags:
      - Loans
      summary: Update Loan Status
      operationId: updateLoanStatus
      parameters:
      - in: path
        name: loanId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  enum:
                  - ACTIVE
                  - CLOSED
                  - DEFAULTED
                  - WRITTEN_OFF
      responses:
        '200':
          description: Updated.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
