openapi: 3.2.0
info:
  title: Interswitch Web Checkout Transactions API
  description: 'Interswitch Web Checkout (formerly Webpay) is the company''s hosted payment

    gateway. Two integration modes are supported: an inline JavaScript popup

    loaded from `inline-checkout.js`, and a Web Redirect form POST to

    `/collections/w/pay`. After payment, merchants must perform a server-side

    requery against `/collections/api/v1/gettransaction.json` and verify both

    the response code (`00`) and the returned amount before delivering value.

    '
  version: '2024-01-01'
  contact:
    name: Interswitch Developer Support
    url: https://www.interswitchgroup.com/support
servers:
- url: https://sandbox.interswitchng.com
  description: Sandbox
- url: https://newwebpay.interswitchng.com
  description: Production
security:
- InterswitchAuth: []
tags:
- name: Transactions
  description: Transaction status query
paths:
  /collections/api/v1/gettransaction.json:
    get:
      tags:
      - Transactions
      summary: Get Transaction Status
      description: 'Server-side transaction requery. Returns the authoritative status,

        response code, and amount for a given transaction reference. Must be

        called before delivering value; do not rely on the browser redirect

        parameters.

        '
      operationId: getTransactionStatus
      parameters:
      - in: query
        name: merchantcode
        required: true
        schema:
          type: string
        description: Merchant code issued by Interswitch.
      - in: query
        name: transactionreference
        required: true
        schema:
          type: string
        description: Original `txn_ref` submitted at checkout.
      - in: query
        name: amount
        required: true
        schema:
          type: integer
        description: Original transaction amount in minor units (kobo).
      responses:
        '200':
          description: Transaction status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatus'
components:
  schemas:
    TransactionStatus:
      type: object
      properties:
        ResponseCode:
          type: string
          description: 00 indicates a successful, approved transaction.
        Amount:
          type: integer
          description: Settled amount in minor units.
        TransactionDate:
          type: string
          format: date-time
        MerchantReference:
          type: string
        PaymentReference:
          type: string
        RetrievalReferenceNumber:
          type: string
        CardNumber:
          type: string
          description: Masked PAN of the card used.
        LeadBankCbnCode:
          type: string
        LeadBankName:
          type: string
  securitySchemes:
    InterswitchAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Either `InterswitchAuth {base64(client_id)}` with companion `Timestamp`,

        `Nonce`, `Signature`, and `SignatureMethod` headers (legacy), or

        `Bearer {access_token}` obtained from the Passport OAuth token endpoint.

        '
