openapi: 3.2.0
info:
  title: Interswitch Bills Payment Customer Validation API
  description: 'Quickteller bills payment service — list billers, get payment items,

    validate customer references, and submit payment advices for hundreds of

    Nigerian billers including DSTV, GOTV, PHCN, water boards, school fees,

    and government TSA payments.

    '
  version: '2024-01-01'
servers:
- url: https://sandbox.interswitchng.com
  description: Sandbox
- url: https://saturn.interswitchng.com
  description: Production
security:
- InterswitchAuth: []
tags:
- name: Customer Validation
paths:
  /api/v2/quickteller/customers/validations:
    post:
      tags:
      - Customer Validation
      summary: Validate Customer
      description: Verify a customer ID (smartcard number, meter number, account number, phone) with the biller before charging.
      operationId: validateCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - paymentCode
              - customerId
              properties:
                paymentCode:
                  type: string
                customerId:
                  type: string
                amount:
                  type: integer
      responses:
        '200':
          description: Customer record at the biller.
          content:
            application/json:
              schema:
                type: object
                properties:
                  fullName:
                    type: string
                  customerId:
                    type: string
                  responseCode:
                    type: string
components:
  securitySchemes:
    InterswitchAuth:
      type: apiKey
      in: header
      name: Authorization
      description: '`InterswitchAuth {base64(client_id)}` plus `Timestamp`, `Nonce`,

        `Signature` (SHA1 of method + endpoint + timestamp + nonce + client_id

        + secret), `SignatureMethod: SHA1`, and `TerminalID` headers; or

        `Bearer {access_token}` from the Passport OAuth token endpoint.

        '
