openapi: 3.1.0
info:
  title: Interswitch Recharge Airtime Refunds API
  description: 'Virtual top-up (direct airtime and data) and e-pin voucher delivery for

    MTN, Airtel, Glo, and 9mobile. Same biller / category / payment-item flow

    as Bills Payment; category ID `4` is reserved for airtime billers and the

    customer''s phone number is supplied as `customer_id` on the payment advice.

    '
  version: '2024-01-01'
servers:
- url: https://sandbox.interswitchng.com
  description: Sandbox
- url: https://saturn.interswitchng.com
  description: Production
security:
- InterswitchAuth: []
tags:
- name: Refunds
paths:
  /paymentgateway/api/v1/refunds:
    post:
      tags:
      - Refunds
      summary: Create Refund
      operationId: createRefund
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refundReference
              - parentPaymentId
              - refundType
              properties:
                refundReference:
                  type: string
                  description: Unique refund identifier.
                parentPaymentId:
                  type: string
                  description: ID of the original successful payment.
                refundType:
                  type: string
                  enum:
                  - PARTIAL
                  - FULL
                refundAmount:
                  type: integer
                  description: Required for PARTIAL; minor currency units.
                reason:
                  type: string
      responses:
        '201':
          description: Refund created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          description: Validation failure (e.g. 10400).
        '500':
          description: Server error (e.g. 10500).
  /paymentgateway/api/v1/refunds/{refundReference}:
    get:
      tags:
      - Refunds
      summary: Get Refund
      operationId: getRefund
      parameters:
      - in: path
        name: refundReference
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Refund details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
components:
  schemas:
    Refund:
      type: object
      properties:
        refundReference:
          type: string
        parentPaymentId:
          type: string
        refundType:
          type: string
          enum:
          - PARTIAL
          - FULL
        refundAmount:
          type: integer
        currency:
          type: string
        status:
          type: string
          enum:
          - SUCCESS
          - PENDING
          - PROCESSING
          - COMPLETE
          - COMPLETE_MANUAL
          - FAILED
        createdAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        responseCode:
          type: string
        responseMessage:
          type: string
  securitySchemes:
    InterswitchAuth:
      type: apiKey
      in: header
      name: Authorization
