openapi: 3.2.0
info:
  title: Interswitch Customer Insights Demography API
  description: 'Permissioned access to demography, financial history, average financial

    history, and financial-habit signals derived from Interswitch''s transaction

    switch and Verve card network. Feeds credit decisioning, KYC enrichment,

    and segmentation.

    '
  version: '2024-01-01'
servers:
- url: https://sandbox.interswitchng.com
  description: Sandbox
- url: https://saturn.interswitchng.com
  description: Production
security:
- BearerAuth: []
tags:
- name: Demography
paths:
  /insights/api/v1/customers/{customerId}/demography:
    get:
      tags:
      - Demography
      summary: Get Customer Demography
      operationId: getCustomerDemography
      parameters:
      - in: path
        name: customerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Demographic record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  customerId:
                    type: string
                  ageBand:
                    type: string
                  gender:
                    type: string
                  state:
                    type: string
                  lga:
                    type: string
                  occupationGroup:
                    type: string
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
