openapi: 3.1.0
info:
  title: Interswitch Recharge Airtime Demography API
  description: 'Virtual top-up (direct airtime and data) and e-pin voucher delivery for

    MTN, Airtel, Glo, and 9mobile. Same biller / category / payment-item flow

    as Bills Payment; category ID `4` is reserved for airtime billers and the

    customer''s phone number is supplied as `customer_id` on the payment advice.

    '
  version: '2024-01-01'
servers:
- url: https://sandbox.interswitchng.com
  description: Sandbox
- url: https://saturn.interswitchng.com
  description: Production
security:
- InterswitchAuth: []
tags:
- name: Demography
paths:
  /insights/api/v1/customers/{customerId}/demography:
    get:
      tags:
      - Demography
      summary: Get Customer Demography
      operationId: getCustomerDemography
      parameters:
      - in: path
        name: customerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Demographic record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  customerId:
                    type: string
                  ageBand:
                    type: string
                  gender:
                    type: string
                  state:
                    type: string
                  lga:
                    type: string
                  occupationGroup:
                    type: string
components:
  securitySchemes:
    InterswitchAuth:
      type: apiKey
      in: header
      name: Authorization
