openapi: 3.2.0
info:
  title: Interswitch Bills Payment Billers API
  description: 'Quickteller bills payment service — list billers, get payment items,

    validate customer references, and submit payment advices for hundreds of

    Nigerian billers including DSTV, GOTV, PHCN, water boards, school fees,

    and government TSA payments.

    '
  version: '2024-01-01'
servers:
- url: https://sandbox.interswitchng.com
  description: Sandbox
- url: https://saturn.interswitchng.com
  description: Production
security:
- InterswitchAuth: []
tags:
- name: Billers
paths:
  /api/v2/quickteller/categorys:
    get:
      tags:
      - Billers
      summary: List Biller Categories
      operationId: listBillerCategories
      responses:
        '200':
          description: Biller categories.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryId:
                      type: integer
                    categoryName:
                      type: string
  /api/v2/quickteller/categorys/{categoryId}/billers:
    get:
      tags:
      - Billers
      summary: List Billers In Category
      operationId: listBillersInCategory
      parameters:
      - in: path
        name: categoryId
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Billers in the requested category.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Biller'
  /api/v2/quickteller/billers:
    get:
      tags:
      - Billers
      summary: List All Billers
      operationId: listBillers
      responses:
        '200':
          description: All billers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Biller'
components:
  schemas:
    Biller:
      type: object
      properties:
        billerId:
          type: integer
        name:
          type: string
        categoryId:
          type: integer
        currencyCode:
          type: string
        customerField1:
          type: string
        customerField2:
          type: string
  securitySchemes:
    InterswitchAuth:
      type: apiKey
      in: header
      name: Authorization
      description: '`InterswitchAuth {base64(client_id)}` plus `Timestamp`, `Nonce`,

        `Signature` (SHA1 of method + endpoint + timestamp + nonce + client_id

        + secret), `SignatureMethod: SHA1`, and `TerminalID` headers; or

        `Bearer {access_token}` from the Passport OAuth token endpoint.

        '
